body {
    background: red;
}
* {
    margin: auto;
    padding: 0px;
}
.wrapper {
    display: flex;
    padding: 20px;
    background-color: #fff;
}
.sub_heading {
    display: flex;
    padding: 10px;
    background-color: #232323;
    justify-content: space-evenly;
}
.top_para {
    color: #fff;
    font-size: 12px;
}